/* slider */

.slider__inner {
  position: relative;
  }
  
  .slider__img {

    .slider {

      .img {
        position: absolute;
        right: 0;
        top: -20px;
        width: 600px;
        height: 600px;
        background-size: cover;
      }
    }
  }
  

  
  .slide-count-wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
  }
  
  .btn-play {
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-left: 14px;
    background: url(../../images/dominos.png) -164px -46px no-repeat;
    font-size: 0;
    vertical-align: 14px;
  
    &.on {
      background-position-x: -184px;
    }
  }
  
  .slide-count {
    color: #fff;
  }
  

  .slider__dot {
    position: absolute;
    left: 50%;
    bottom: -80px;
    transform: translateX(-50%);
    a {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 0 5px;
        border: 4px solid #FF3344;
        background-color: #FF3344;
        box-shadow: 0 0 0 3px transparent;
        &.active {
            box-shadow: 0 0 0 3px #FF3344;
            border-width: 4px;
            background-color: #fff;
        }
    }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}